azure-storage-blob==12.23.1
apache-airflow-client==3.0.2
apache-beam==2.66.0
bcrypt==4.3.0
boto3==1.40.10
certifi==2025.8.3
cffi==1.15
confluent-kafka==2.5.3
cx-Oracle==7.2.3
dateparser==1.1.8
fastavro==1.9.7
google-cloud-bigquery==3.25.0
google-cloud-storage==2.11.0
jsonschema==4.21.0
Jinja2==3.1.2
lxml==5.3.0
loguru==0.7.0
MarkupSafe==2.1.3
mysql-connector-python==8.0.20
minio==7.1.14
oracledb==3.3.0
openpyxl==3.1.5
pandas==2.3.2
paramiko==2.6.0
psycopg2-binary==2.9.10
pyarrow==15.0.0
pycparser==2.19
pyodbc==5.2.0
pysftp==0.2.9
python-dateutil==2.8.2
pytz==2023.3
polars==0.19.2
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==1.3.1
rich==13.4.1
snowflake-connector-python==3.17.3
snowflake-sqlalchemy==1.7.7
SQLAlchemy==1.4.51
tqdm==4.38.0
tenacity==8.2.0
urllib3==2.5.0
websocket-client==0.56.0